@import "/src/variables";

.myContainer{

  #found{
    display: none;
  }

  .break {
    display:flex;
    flex-basis: 100%;
    height: 0;
  }

  #description{
    margin-top: 1%;
    color: black;
    font-size: 1.2rem;
    margin-left: 2.5%;
    margin-bottom: 0;
    vertical-align: center;
  }

  .buttonContainer{
    margin-top: .5%;
    margin-left: 2.5%;
  }

  #loading{
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
  }
}
