<div class="myContainer">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <h1 id="title">Prospect Auto |</h1>

      <mat-tab-group (selectedTabChange)="tabClick($event)">
        <mat-tab label="Vehicles" [routerLink]="'/main/vehicles'"></mat-tab>
        <mat-tab label="Wheels" [routerLink]="'/main/wheels'"></mat-tab>
        <mat-tab label="Locations" [routerLink]="'/main/locations'"></mat-tab>
      </mat-tab-group>

      <p id="welcomeMessage">Welcome, {{ loggedUser }}!</p>

      <button mat-mini-fab color="logout" (click)="Logout()" id="logoutButton">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="myChildContainer">
    <div class="myChild">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer id="footer" cBackgr ccolor="accent">
    <p id="footerText">Vasile George-Cristian</p>
    <button
      mat-flat-button
      id="githubIcon"
      color="primary"
      onClick="window.open('https://github.com/cristivasile/Prospect_Auto_Website')"
    >
      GitHub
    </button>
  </footer>
</div>
