<div class="myContainer">
  <div class="toolbar">
    <p id="title" class = "desktopGroup"> Prospect Auto |</p>

    <div class="welcomeSection mobileGroup">
      <p id="title" class = "mobileGroup"> Prospect Auto |</p>
      <p id="welcomeMessage">Welcome, {{ loggedUser }}!</p>

      <button mat-mini-fab color="logout" (click)="Logout()" id="logoutButton">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

    <mat-tab-group (selectedTabChange)="tabClick($event)">
      <mat-tab label="Vehicles" [routerLink]="'/main/vehicles'"></mat-tab>
      <mat-tab label="Wheels" [routerLink]="'/main/wheels'"></mat-tab>
      <mat-tab label="Locations" [routerLink]="'/main/locations'"></mat-tab>
    </mat-tab-group>

    <div class="welcomeSection desktopGroup">
      <p id="welcomeMessage">Welcome, {{ loggedUser }}!</p>

      <button mat-mini-fab color="logout" (click)="Logout()" id="logoutButton">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>

  <div class="myChildContainer">
    <div class="myChild">
      <router-outlet></router-outlet>
    </div>
  </div>

 <div id = "footerWrapper">
    <footer id = "myFooter">
      <p id = "footerText"> Vasile George-Cristian </p>
      <button mat-flat-button icon = "home" id = "githubIcon" color = "accent" onClick = "window.open('https://github.com/cristivasile/Prospect_Auto_Website')">GitHub</button>
    </footer>
  </div>
</div>
