@import "../../../../variables";

.myContainer{
  width: 100%;
  padding-top: .5vw;


  .myTitle{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    color: $primary;
  }

  #back-button{
    width: 10vw;
    display: inline-flex;
    vertical-align: middle;
  }

  .mat-transparent{
    background-color: transparent;
    color: $accent;
  }

  .form-section{
    overflow:hidden;
    border-radius: 2em;
    padding: 1vw;
    width: 40%;
    margin-top: 1%;
    margin-left: 30%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    background-color: white;
    border: 1px solid $accent;
    margin-bottom: 2.5%;

    .oneLine{
      width: 100%;
    }

    .twoLine{
      width: 45%;

    }

    .twoLineSep{
      margin-right: 10%;
    }

    .locationSelector{
      width: 45%;
      margin-right: 10%;
    }

    .featureSelector{
      width: 32%;
      margin-right: 4%;
    }

    .mat-add{
      color: white;
      background-color: $add;
    }

    #addVehicleButton{
      width: 60%;
      margin-left: 20%;
      margin-top: 2vw;
    }

    #messageOutput{
      text-align: center;
      display:none;
      margin-top: 2%;
    }

    .price{
      width: 40%;
      margin-left: 30%;
    }

    ::ng-deep {
      .mat-form-field .mat-form-field-flex{
        background-color: rgba(169,214,202, 0.2);
      }
    }
  }
}
