<div class = "adminMenu" *ngIf = "isAdmin">
  <button mat-raised-button color = "accent" (click) = "addNew()">Add new</button>
  <button mat-raised-button color = "accent" (click) = "viewAll()">View all</button>
</div>

<div class = "filtersMenu" *ngIf = "!isAdmin">
  <mat-expansion-panel id="filterPanel" (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title id="panelTitle">
        <form [formGroup] = "SearchForm" class = "myForm" style="display: inline-block;">
          <mat-form-field appearance="legacy">
            <mat-label>Search by type</mat-label>
            <input id="typeSearch" (click) = "$event.stopPropagation();" (keydown.Space)="$event.stopImmediatePropagation();" matInput placeholder="Ex: Audi/ Audi A4/ A4" formControlName="type"/>
          </mat-form-field>
        </form>

        <button class = "formMargin" mat-raised-button color = "accent" (click) = "$event.stopPropagation();searchBy()" style="transform: scale(0.8)">Search</button>

      </mat-panel-title>
      <mat-panel-description id="panelDescription">
       Filters <mat-icon *ngIf="!panelOpenState">expand_more</mat-icon> <mat-icon *ngIf="panelOpenState">expand_less</mat-icon>
      </mat-panel-description>
      </mat-expansion-panel-header>
    <form [formGroup]="FilterForm" class="myForm" style="display: inline-block; margin-left: auto;">
      <label class = "formMargin"> Filters:</label>

      <div id="sortField">
        <mat-form-field class = "formMargin">
          <mat-select placeholder = "Sort by" formControlName="sort">
            <mat-option value = "type">
              Type
            </mat-option>
            <mat-option value = "price">
              Price
            </mat-option>
            <mat-option value = "mileage">
              Mileage
            </mat-option>
            <mat-option value = "power">
              Power
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox formControlName="sortAsc" class = "formMargin">Asc</mat-checkbox>
      </div>
      <mat-form-field class = "formMargin">
        <mat-select placeholder = "Select brand" formControlName="brand">
          <mat-option *ngFor = "let brand of brands" [value] = brand>
            {{brand}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy" class = "formMargin">
        <mat-label>Minimum year</mat-label>
        <input (keydown.Space)="$event.stopImmediatePropagation();" type="number" min="1900" max="2022" matInput placeholder="Ex: 2015" formControlName="minYear"/>
      </mat-form-field>
      <mat-form-field appearance="legacy" class = "formMargin">
        <mat-label>Maximum mileage</mat-label>
        <input (keydown.Space)="$event.stopImmediatePropagation();" type="number" min="0" max="10000000" matInput placeholder="Ex: 200000" formControlName="maxMileage"/>
      </mat-form-field>
      <mat-form-field appearance="legacy" class = "formMargin">
        <mat-label>Maximum price</mat-label>
        <input (keydown.Space)="$event.stopImmediatePropagation();" type="number" min="400" max="10000000" matInput placeholder="Ex: 4000" formControlName="maxPrice"/>
      </mat-form-field>
    </form>

    <div style="display: inline-block">
      <button class = "formMargin" mat-raised-button color = "accent" (click) = "filter()" style="transform: scale(0.8)">Filter</button>

      <button class = "formMargin" mat-raised-button color = "accent" (click) = "reset()" style="transform: scale(0.8)">Reset</button>
    </div>
  </mat-expansion-panel>


</div>

<div class = "myContainer">

  <div class = "listHead">
    <div class = "imageSection mySection">
      Image
    </div>
    <div class = "separator"></div>
    <div class = "typeSection mySection">
      Type
    </div>
    <div class = "separator"></div>
    <div class = "typeSection mySection">
      Info
    </div>
    <div class = "separator"></div>
    <div class = "locationSection mySection">
      Dealership location
    </div>
    <div class = "separator"></div>
    <div class = "priceSection mySection">
      Price
    </div>
    <div class = "separator" *ngIf="isAdmin"></div>
    <div class = "buttonSection mySection" *ngIf="isAdmin">
      Modify
    </div>

    <div class = "endMargin">
    </div>

  </div>

  <div id = "loading">
    <mat-spinner [diameter]="70" color = "accent"></mat-spinner>
  </div>

  <div class="scrollWrapper">
    <div id = "myViewport" itemSize = "count" class = "d-flex flex-wrap vehiclesList">

      <div id = "queryI" class = "queryInfo">
        <p>
        Displaying {{count}} results:
        </p>
      </div>

      <div class= "card myCard" *ngFor="let vehicle of vehicles" (click)="view(vehicle.id);">
        <img style = "object-fit:contain" [src] = "getImage(vehicle.image)" class="card-img-top" alt="{{vehicle.brand}}">
        <div class = "myInfo">
            <div>
              <span class = "tag1">Brand</span> &nbsp; &nbsp; <span class="info1">{{vehicle.brand}}</span>
            </div>
            <div>
              <span class = "tag1">Model</span> &nbsp; &nbsp; <span class="info1">{{vehicle.model}}</span>
            </div>
        </div>

        <div class = "myInfo2">
          <div class = "myLine">
            <span class = "tag2">Year</span> &nbsp; &nbsp; &nbsp; <span class="info2">{{vehicle.year}}</span>
          </div>
          <div class = "myLine">
            <span class = "tag2">Mileage</span> &nbsp; &nbsp; <span class="info2">{{vehicle.odometer | distance}}</span>
          </div>
          <div class = "myLine">
            <span class = "tag2">Engine size</span> &nbsp; &nbsp; <span class="info2">{{vehicle.engineSize | engineSize}}</span>
          </div>
          <div class = "myLine">
            <span class = "tag2">Power</span> &nbsp; &nbsp; <span class="info2">{{vehicle.power | power}}</span>
          </div>
        </div>

        <div class = "myAddress">
          <span>{{vehicle.locationAddress}}</span>
        </div>

        <div class = "myStatus" *ngIf="displayStatus">
          <span *ngIf="vehicle.status.vehicleStatus != 'available'">{{vehicle.status.vehicleStatus.toLowerCase()}}</span>
        </div>

        <div class = "priceContainer">
          <span>{{vehicle.price	| currency:'EUR':'symbol':'1.0-0'}}</span>
        </div>


        <div class = "buttonContainer" *ngIf = "isAdmin">
          <button mat-mini-fab color = "edit" class = "editButton" (click) = "editVehicle(vehicle.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <div class = "buttonContainer" *ngIf = "isAdmin">
          <button mat-mini-fab color = "delete" class = "deleteButton" (click) = "deleteVehicle(vehicle)">
            <mat-icon> delete </mat-icon>
          </button>
        </div>

      </div>

      <div id = "endI" class="endMessage">
        No results found
      </div>
    </div>
  </div>
</div>
