@import "/src/variables";

$important : #47b851;
$medium :   #91d497;
$notImportant : #c5e8c8;

.myContainer{
  width: 100%;
  height: auto;

  .contentContainer{
    margin-top: 1%;
    height: auto;
    width: 100%;
    border-radius: .5vw;

    .featureSection{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;

      .featureContainer{
        max-width: 90%;
        display: inline-block;
        margin-top: 2vw;
        border-radius: .3em;
        height: auto;
        width: auto;
        min-width: 25%;
        background-color: white;
        border: 1vw solid $accent;
        padding: .6vw;
        flex-direction: column;

        .mat-chip{
          border: 1px solid $add;
        }

        .important{
          background-color: $important;
        }

        .medium{
          background-color: $medium;
        }

        .notImportant{
          background-color: $notImportant;
        }
      }
    }

    .myInfo{
      width: 90%;
      border-radius: .2em;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      margin-left: 5%;
      margin-right: 5%;
      justify-content: space-around;
      background-color: $accent;

      .myCard{
        display:flex;
        width: 33em;
        height: 28em;
        padding: 1.5vw;

        img{
          background-color: white;
          border-radius: .3em;
          box-shadow: 2px 2px 5px grey;
          width: 100%;
          height: 100%;
        }

        .myInfo{
          padding: 5%;
          border-radius: .3em;
          background-color: white;
          box-shadow: 2px 2px 5px grey;
          display:flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          margin-left: 0;
          margin-right: 0;
          justify-content: space-between;

          div{
            display: flex;
            flex-direction: row;
            width: 100%;
            .tag{
              color: $accent;
              font-weight: bold;
              font-size: 1.33em;
            }
            .info{
              margin-left: auto;
              font-size: 1.2em;
            }
          }
      }
      .myAddress{
        padding: 5%;
        width: 100%;
        border-radius: .3em;
        background-color: white;
        box-shadow: 2px 2px 5px grey;
        display:flex;
        flex-direction: column;
        height: 100%;
        padding-top: 6%;
        padding-bottom: 6%;
        justify-content: space-around;

        .tag{
          color: $accent;
          font-size: 1.3em;
          font-weight: bold;
        }
        .info{
          margin-left: 3%;
          font-size: 1.2em;
        }
      }

      }
    }

    #messageOutput{
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 100%;
      font-size:1.5em;
      display: none;
      text-align: center;
    }

    .buttonContainer{
      display:flex;
      flex-direction: column;
      padding-top: 1vw;

      .mat-add{
        width: 30%;
        margin-left: 35%;
        margin-top: 1%;
        background-color: $add;
        color: white;
      }
    }
  }

}

#found{
  display: none;
}

@media only screen and (min-width: 768px) and (-webkit-max-device-pixel-ratio: 2){

  .myContainer{

    .buttonContainer{
      .mat-add{
        width: 20%;
        margin-left: 40%;
      }
    }
  }

}
